<p><%= t(".title") %> <%= @resource.email %>!</p>

<p><%= t(".reset_password_explanation") %></p>

<p><%= link_to t(".reset_password_link"), (@resource, :reset_password_token => @token )edit_password_url %></p>

<p><%= t(".please_ignore") %></p>
<p><%= t(".wont_change") %></p>
