<p><%= t(".title") %> <%= @resource.email %>!</p>

<p><%= t(".reset_password_explanation") %></p>

<p><%= link_to t(".reset_password_link"), edit_password_url(@resource, :reset_password_token => @token) %></p>

<p><%= t(".please_ignore") %></p>
<p><%= t(".wont_change") %></p>