<!--- ① --->
<% if is_room == true && post.member == current_member %>
  <a data-toggle="collapse" href="#pullDownBtnDM" role="button" aria-expanded="false" aria-controls="#pullDownBtnDM">
    <h5 class="btn btn-light form-control mt-2">取引チャット一覧 ▼</h5>
  </a>
  <div class="collapse" id="pullDownBtnDM">
    <% @room_ids.each do |room_id| %>
      <%= link_to "#{entries[room_id].member.nickname}チャット画面", room_path(room_id), class:"btn btn-info form-control rounded-pill my-2" %>
    <% end %>
  </div>
<!--- ② --->
<% elsif is_room == true && post.member != current_member %>
  <% @room_ids.each do |room_id| %>
    <%= link_to "#{entries[room_id].member.nickname}チャット画面", room_path(room_id), class:"btn btn-info form-control rounded-pill my-2" %>
  <% end %>
<!--- ③ --->
<% elsif is_room == '' || post.member != current_member %>
  <!--- ④ --->
  <% if post.open_status != 'unopened' || post.member.status == "active" %>
    <%= form_with model: room do |f| %>
      <%= f.hidden_field :post_id, value: post.id %>
      <%= fields_for entry do |e| %>
        <%= e.hidden_field :member_id, value: member.id %>
      <% end %>
      <%= f.submit '取引する', class:"btn btn-info form-control rounded-pill mt-2" %>
    <% end %>
  <% end %>
<% end %>

<!--- ① DMルームが存在＆現在のメンバーが投稿者 --->
<!--- ② DMルームが存在＆現在のメンバーが投稿者でない --->
<!--- ③ DMルームが存在しない＆現在のメンバーが投稿者でない --->
<!--- ④ 投稿ステータスが非公開ではない＆投稿者ステータスが有効 --->
