<% unless @post.open_status == 'unopened' && @post.member != current_member %>
  <div class="container mb-5">
    <div class="row">
      <div class="col-md-7 col-sm-10 col-xs-12">
        <%= image_tag 'postDetail.svg', class:"my-4" %>
        <div class="bg-light rounded py-2" data-aos="zoom-in-right" data-aos-duration="800">
          <div class="d-flex px-3">
            <%= image_tag @post.member.get_icon(50,50), class:"rounded-circle mx-2 mb-2" %>
            <h5 class="my-auto">
              <%= link_to @post.member.nickname, member_path(@post.member_id), class:"text-dark ml-2" %>
            </h5>
          </div>

          <div class="text-center">
            <%= image_tag @post.get_post_image(600,350), class:"rounded img-fluid px-2" %>
          </div>
          <div class="d-flex justify-content-between mx-3 mt-1">
            <span class="text-secondary">
              <%= time_ago_in_words(@post.updated_at).upcase %>
            </span>

            <div id="favorite">
              <% if member_signed_in? %>
                <%= render 'public/favorites/fav' , post: @post%>
              <% else %>
                <%= link_to post_favorites_path(@post), method: :post, class:"text-danger" do %>
                  <i class="fas fa-heart"></i>
                  <%= @post.favorites.count %>
                <% end %>
              <% end %>
            </div>
          </div>

          <div class="bg-light">
            <div class="card-body">
              <h5>AI自動認識タグ</h5>
              <% @vision_tags.each do |vision_tag| %>
                <span class="mr-2">
                  <%= link_to vision_tag_path(vision_tag), class:"text-secondary" do %>
                    #<%= vision_tag.name %>
                  <% end %>
                </span>
              <% end %>
            </div>

            <div class="card-body py-2">
              <h5>タイトル</h5>
              <%= @post.title %><br>
            </div>

            <div class="card-body py-2">
              <h5>紹介</h5>
              <%= @post.introduction %><br>
            </div>

            <div class="card-body py-2">
              <h5>取引期限</h5>
              <% if @post.open_status == 'open' || @post.open_status == 'during_trade' %>
                <div id="timeLimit">
                  あと
                  <span class="hour"></span>時間
                  <span class="min"></span>分
                  <span class="sec"></span>秒です。
                </div>
                <div id="hideLimit">
                  取引期限は終了しました。
                </div>
              <% elsif @post.open_status == 'unopened' %>
                <p class="text-success">非公開中</p>
              <% else %>
                <p>取引は終了しました。</p>
              <% end %>
            </div>
          </div>

          <div class="text-center">
            <% if @post.member == current_member %>
              <div class="d-flex">
                <%= link_to '編集する', edit_post_path(@post), class:"btn btn-outline-success form-control my-2 mx-2" %>
                <%= link_to '削除する', post_path(@post), method: :delete, data: { confirm: "本当によろしいですか？"}, class:"btn btn-outline-danger form-control my-2 mx-2" %>
              </div>
            <% elsif current_admin %>
              <%= link_to '削除する', post_path(@post), method: :delete, data: { confirm: "本当によろしいですか？"}, class:"btn btn-outline-danger form-control col-6" %>
            <% end %>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-10 col-xs-12 offset-md-1 mt-5">
        <%= render 'public/post_comments/comment_bar', comment: @comment, post: @post  %>

        <div id="map" class="mapShow" data-aos="zoom-in-left" data-aos-duration="800"></div>

        <% if member_signed_in? %>
          <%= render 'public/posts/dm_btn', post: @post, is_room: @is_room, room: @room, entry: @entry, member: @member, room_id: @room_id, entries: @entries %>
        <% end %>
      </div>
    </div>

    <div class="row my-3">
      <div class="col mx-auto">

      </div>
    </div>
  </div>
<% else %>
  <div class="container">
    <div class="text-center mt-5">
      <h4 class="text-danger my-3">
        ※この投稿は現在非公開となっています。
      </h4>
      <%= link_to '戻る', :back %>
    </div>
  </div>
<% end %>

<%# Google Map API %>
<%= render 'public/posts/js_template/googleMap', post: @post %>

<%#カウントダウンタイマー機能 %>
<%= render 'public/posts/js_template/countTimer', post: @post %>

<script>
  //コメントスクロール位置固定機能
  // packs/scrollComment.jsに記載
  document.addEventListener("turbolinks:load", () => {
    commentsScrollToEnd();
  });
</script>
<%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{ENV['API_KEY']}&libraries=places&callback=initMap", 'data-turbolinks-track': 'reload', async: true %>
