<div class="container">
  <h4 class="mt-3">
    "<%= @member.nickname %>" (通報された回数：
    <%= link_to admin_search_path(@member.id) do %>
      <%= @report_count %>
    <% end %>回)
  </h4>
  <%= form_with model: @member, url: admin_member_path, method: :patch do |f| %>
    <div class="row mx-auto mt-5">
      <div class="col-md-2 offset-2 text-center" data-aos="zoom-in">
        <%= image_tag @member.get_icon(130,130), class:"rounded-circle" %>
      </div>

      <div class="col-md-8 mt-5 d-flex">
        <p class="mt-5 pt-1">ステータス変更：</p>
        <%= f.select :status, Member.statuses_i18n.invert, {}, class:"form-control col-3 mt-5" %>
        <%= f.submit '変更する', class:"btn btn-danger px-3 ml-3 mt-5 rounded" %>
      </div>
    </div>

    <div class="row mt-3 mb-5">
      <div class="col-md-8 mx-auto">
        <div class="my-3">
          <h5>メールアドレス</h5>
          <p class="bg-light py-2 px-3 rounded-pill"><%= @member.email %></p>
        </div>

        <div class="my-5">
          <h5>ユーザーネーム</h5>
          <p class="bg-light py-2 px-3 rounded-pill"><%= @member.nickname %></p>
        </div>

        <div class="my-5">
          <h5>自己紹介</h5>
          <% if @member.introduction.present? %>
            <p class="bg-light py-2 px-3 rounded-pill"><%= @member.introduction %></p>
          <% else %>
            <p class="my-3">自己紹介はありません</p>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
