<div class="container">
  <div class="row ">
    <div class="col-md-6 offset-3 my-5">
      <%= form_with model: @new_message, local: false do |f| %>
        <table class="table table-bordered">
          <thead class="bg-light">
            <tr>
              <th id="dmMessageCount">メッセージ数：<%= @messages.count %>件</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td id="dmMessage">
                <%= render "public/messages/dm_message", messages: @messages %>
              </td>
            </tr>
          </tbody>

          <thead>
            <tr>
              <th class="d-flex">
                <%= f.text_area :message, rows: 1,class:"form-control" %>
                <%= f.hidden_field :room_id, value: @room.id %>
                <%= button_tag type:'submit', class:"btn btn-success ml-3" do %>
                  <i class="fas fa-paper-plane"></i>
                <% end %>
              </th>
            </tr>
          </thead>
        </table>
      <% end %>
    </div>
  </div>
</div>
<script>
  //コメントスクロール位置固定機能
  // packs/scrollComment.jsに記載
  document.addEventListener("turbolinks:load", () => {
    commentsScrollToEnd();
  });
</script>