<div class="my-2 my-lg-0">
  <% if admin_signed_in? %>
    <%= form_with url: admin_searches_path, method: :get, class:"d-flex" do |f| %>
      <%= f.text_field :keyword, value: keyword, placeholder:"ユーザを検索",required: true, class:"form-control col-9" %>
      <%= button_tag type:'submit', class:"btn btn-outline-dark mx-2" do %>
        <i class="fas fa-search"></i>
      <% end %>
    <% end %>
  <% else %>
    <%= form_with url: searches_path, method: :get, class:"d-flex" do |f| %>
      <%= f.text_field :keyword, value: keyword, placeholder:"お魚を検索",required: true, class:"form-control col-9å" %>
      <%= button_tag type:'submit', class:"btn btn-outline-secondary mx-2" do %>
        <i class="fas fa-search"></i>
      <% end %>
    <% end %>
  <% end %>
</div>