<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <p class="head" data-aos="zoom-in" data-aos-duration="600">
        <%= image_tag 'Tabekiro-uo-logo.svg', class:"img-fluid" %>
      </p>
    </div>
  </div>
</div>

<div class="text-center scrollbox py-5">
  <p><%= image_tag 'Tabekiro-uo-midle-logo.svg' %><span class="pt-5">とは...</span></p>

  <p>釣りすぎて食べきれないお魚を無駄にしないためにお魚好きにお裾分けしよう！<br>
     をコンセプトにしたWEBサイトです！</p>
  <p>釣り人なら一度はありませんか？</p>
  <p><b>・せっかくたくさん釣れたけど食べきれない。<br>
        ・お裾分けしたくても近所に知り合いがいない。</b></p>
  <p>など。</p>
  <h5><b>是非！</b></h5>
  <p class="m-0"><b>このお裾分けアプリでお魚を鮮度の良い状態で食べてあげましょう！</b></p>
</div>

<div class="my-5 pt-5 text-center">
  <h2><%= image_tag 'newPostLOGO.svg' %></h2>
</div>

<div class="container">
  <div class="row">
    <% @posts.each do |post| %>
      <div class="col-md-4 col-sm-8 col-xs-12 parallax_content" data-aos="zoom-in" data-aos-duration="2000">
        <div class="mx-auto ml-5 bg-light px-3 mx-3 rounded">
          <div class="text-dark ml-1">
            <b><%= truncate(post.title, length: 15) %></b>
          </div>
          <div class="text-center">
            <%= link_to post_path(post) do %>
              <%= image_tag post.get_post_image(320,250), class:"rounded img-fluid" %>
            <% end %>
          </div>
          <span class="time-text-size mt-2 ml-auto">
            <%= time_ago_in_words(post.updated_at).upcase %>
          </span>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="scrollbox text-center py-5">
  <h3 class="top-to-index-btn">
    <%= link_to posts_path, class:"ml-auto text-dark py-5" do %>
      <%= image_tag 'topToIndexLOGO.svg', class:"img-fluid", style:"width:75%;" %>
    <% end %>
  </h3>
</div>



<div class="container" data-aos="zoom-in" data-aos-duration="1000">
  <div class="row">
    <div class="col-md-6 col-xs-8 my-5 text-center offset-md-3">
      <p class="top-btn">
        <%= link_to new_member_registration_path, class:"rounded-pill" do %>
          <%= image_tag 'topregistrationLOGO.svg', class:"img-fluid", style:"width:70%;" %>
        <% end %>
      </p>
      <p class="top-btn">
        <%= link_to new_member_session_path, class:"rounded-pill" do %>
          <%= image_tag 'topLoginLOGO.svg', class:"img-fluid", style:"width:70%;" %>
        <% end %>
      </p>
    </div>
  </div>
</div>