<div class="container">
  <div class="row ml-md-5">
    <div class="col-md-10 col-xs-12">
      <%= image_tag 'quitReasonConfirm.svg', class:"mt-5 offset-md-3" %>
      <div class="row offset-md-4">
        <div class="col-md-8 my-2">
          <p>ユーザーネーム</p>
          <h4><%= @member.nickname %></h4>
        </div>

        <div class="col-md-8 my-2">
          <p>退会理由ジャンル</p>
          <p class="bg-light py-2 px-3 rounded">
            <%= @member.reason_for_quit_genre_i18n %>
          </p>
        </div>

        <div class="col-md-8 my-2">
          <p>退会理由</p>
          <p class="bg-light py-2 px-3 rounded">
            <% if @member.reason_for_quit.present? %>
              <%= @member.reason_for_quit %>
            <% else %>
              退会理由未入力
            <% end %>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="mx-auto">
      <h6 class="text-center my-2">
        本当に退会しますか？<br>
        一度退会するとアカウントの全ての情報が失われます。
      </h6>
      <div class="text-center d-flex my-5">
        <%= form_with model: @member, url: quit_members_path, method: :patch do |f| %>
          <%= f.hidden_field :reason_for_quit_genre %>
          <%= f.hidden_field :reason_for_quit %>
          <%= f.submit '退会する', data: { confirm: "本当によろしいですか？" }, class:"btn btn-danger form-control col-xs-12" %>
        <% end %>
        <%= link_to 'マイページに戻る', members_path, class:"btn btn-info form-control col-xs-12 ml-3" %>
      </div>
    </div>
  </div>
</div>