<div class="container">
  <div class="row">
    <div class="col-md-6 offset-1 mt-5">
      <h4 class="my-4">退会理由確認</h4>
      <table class="table table-borderless">
        <thead>
          <tr>
            <th class="text-right">ユーザーネーム：</th>
            <td><h5><%= @member.nickname %></h5></td>
          </tr>

          <tr>
            <th class="text-right">通報ジャンル：</th>
            <td><%= @member.reason_for_quit_genre_i18n %></td>
          </tr>

          <tr>
            <th class="text-right">通報内容：</th>
            <td><%= @member.reason_for_quit %></td>
          </tr>
        </thead>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="mx-auto">
      <h6 class="text-center my-2">
        本当に退会しますか？<br>
        一度退会するとアカウントの全ての情報が失われます。
      </h6>
      <div class="text-center d-flex my-5">
        <%= form_with model: @member, url: quit_members_path, method: :patch do |f| %>
          <%= f.hidden_field :reason_for_quit_genre %>
          <%= f.hidden_field :reason_for_quit %>
          <%= f.submit '退会する', data: { confirm: "本当によろしいですか？" }, class:"btn btn-danger rounded-pill px-5" %>
        <% end %>
        <%= link_to 'マイページに戻る', members_path, class:"btn btn-info rounded-pill px-5 ml-3" %>
      </div>
    </div>
  </div>
</div>