<div class="container">
  <% if @rooms.present? %>
    <div class="row">
      <div class="col-md-8 offset-2">
        <%= image_tag 'topMyDealLOGO.svg', class:"my-4" %>
        <% @rooms.each do |room| %>
          <table class="table table-borderless bg-light rounded" data-aos="zoom-in" data-aos-duration="1000">
            <thead>
              <tr>
                <th>
                  <%= link_to post_path(room.post) do %>
                    <%= image_tag room.post.get_post_image(100,100), class:"rounded ml-3" %>
                  <% end %>
                </th>
                <td>
                  <p class="mb-2"><b><%= link_to room.post.title, post_path(room.post), class:"text-dark" %></p></b>
                  <p class="mb-2">ステータス：<%= room.post.open_status_i18n %></p>
                  <p class="mb-2">投稿日：<%= time_ago_in_words(room.post.created_at).upcase %></p>
                </td>
                <td class="text-right">
                  <%= link_to room_path(room), class:"btn btn-outline-secondary mt-5" do %>
                    <% others_id = room.entries.where.not(member_id: @member.id).pluck(:member_id) %>
                    <% others = Member.find_by(id: others_id) %>
                    <%= truncate(others.nickname, length: 15) %>さんのDMへ
                  <% end %>
                </td>
              </tr>
            </thead>
          </table>
        <% end %>
      </div>
    </div>
    <div class="row mb-5">
      <div class="mx-auto mb-5">
        <%= paginate @rooms, theme: 'bootstrap-5' %>
      </div>
    </div>
  <% else %>
    <div class="row">
      <h5 class="mx-auto my-5">取引中のお魚はありません。</h5>
    </div>
  <% end %>
</div>