<div class="container">
  <% if @rooms.present? %>
    <div class="row">
      <div class="col-md-12 offset-md-1">
        <%= image_tag 'topMyDealLOGO.svg', class:"my-4" %>
        <div class="d-flex flex-wrap">
          <% @rooms.each do |room| %>
            <div class="card mb-3 py-3 mx-md-3 bg-light col-md-3" data-aos="zoom-in" data-aos-duration="1000">
              <div class="text-center">
                <%= link_to post_path(room.post) do %>
                  <%= image_tag room.post.get_post_image(200,120), class:"rounded", style:"width:100%;" %>
                <% end %>
              </div>
              <p class="text-secondary text-right">最終更新:<%= time_ago_in_words(room.post.created_at).upcase %></p>

              <div class="card-body p-0">
                <h5 class="card-title"><b>
                  <%= link_to post_path(room.post), class:"text-dark" do %>
                    <%= truncate(room.post.title, length: 12) %>
                  <% end %>
                </b></h5>
                <p class="card-text">ステータス：<%= room.post.open_status_i18n %></p>

                <div class="text-right">
                  <%= link_to room_path(room), class:"btn btn-outline-secondary mt-1" do %>
                    <% others_id = room.entries.where.not(member_id: @member.id).pluck(:member_id) %>
                    <% others = Member.find_by(id: others_id) %>
                    <%= truncate(others.nickname, length: 12) %>さんのDMへ
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="row mb-5">
      <div class="mx-auto mb-5">
        <%= paginate @rooms, theme: 'bootstrap-5' %>
      </div>
    </div>
  <% else %>
    <div class="row">
      <h5 class="mx-auto my-5">取引中のお魚はありません。</h5>
    </div>
  <% end %>
</div>