<div class="container">
  <div class="row">
    <div class="col-md-8 offset-2">
      <h4 class="my-3">いいねした投稿</h4>
        <% if @favorite_posts.present? %>
          <% @favorite_posts.each do |post| %>
            <table class="table table-borderless">
              <thead>
                <tr>
                  <th>
                    <%= link_to post_path(post) do %>
                      <div data-aos="zoom-in" data-aos-duration="2000">
                        <%= image_tag post.get_post_image(100,100), class:"rounded" %>
                      </div>
                    <% end %>
                  </th>
                  <td>
                    <p class="mb-2"><b><%= link_to post.title, post_path(post), class:"text-dark" %></p></b>
                    <p class="mb-2">ステータス：<%= post.open_status_i18n %></p>
                    <p class="mb-2">投稿日：<%= time_ago_in_words(post.created_at).upcase %></p>
                  </td>
                  <td><%= link_to '詳細ページ', post_path(post), class:"btn btn-light mt-5" %></td>
                </tr>
              </thead>
            </table>
          <% end %>
      <% else %>
        <h5 class="text-center">いいねした投稿はありません。</h5>
      <% end %>
    </div>
  </div>
</div>
