<div class="container">
  <%= form_with model: @member, url: confirm_members_path, method: :post do |f| %>
    <div class="row ml-md-5">
      <div class="col-md-10 col-xs-12">
      <%= image_tag 'quitForm.svg', class:"my-3 offset-md-3" %>
        <div class="row offset-md-4">
          <div class="col-md-8 my-2">
            <p>ユーザーネーム</p>
            <h4><%= link_to @member.nickname, member_path(@member), class:"text-dark ml-3" %></h4>
          </div>

          <div class="col-md-8 my-2">
            <%= f.label :reason_for_quit_genre, '退会理由選択(必須)' %>
            <%= f.select :reason_for_quit_genre, Member.reason_for_quit_genres_i18n.invert, {}, class:"form-control" %>
          </div>

          <div class="col-md-8 my-2">
            <%= f.label :reason_for_quit, '退会理由入力' %>
            <%= f.text_area :reason_for_quit, rows: 3, placeholder: "入力してください", class:"form-control" %>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="mx-auto mt-5">
        <%= f.submit '退会理由確認画面へ', class:"btn btn-danger rounded-pill px-5 mb-5" %>
      </div>
    </div>
  <% end %>
</div>