<div class="container">
  <%= form_with model: @member, url: confirm_members_path, method: :post, data: {turbolinks: false} do |f| %>
  <h4 class="my-2 ml-5">退会フォーム</h4>
    <div class="row">
      <div class="col-md-9 mt-5">
        <table class="table table-borderless">
          <thead>
            <tr>
              <th class="text-right align-middle">ユーザーネーム：</th>
              <td><h5><%= link_to @member.nickname, member_path(@member), class:"text-dark" %></h5></td>
            </tr>

            <tr>
              <th class="text-right align-middle">退会理由：</th>
              <td><%= f.select :reason_for_quit_genre, Member.reason_for_quit_genres_i18n.invert, {}, class:"form-control my-3" %></td>
            </tr>

            <tr>
              <th class="align-top text-right">退会理由：</th>
              <td><%= f.text_area :reason_for_quit, rows: 5, placeholder: "入力してください", class:"form-control" %></td>
            </tr>
          </thead>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="mx-auto">
        <%= f.submit '通報内容確認画面へ', class:"btn btn-danger rounded-pill px-5 mb-5" %>
      </div>
    </div>
  <% end %>
</div>