<div class="container">
  <div class="row my-5">
    <div class="col-md-5 text-right">
      <div data-aos="zoom-out-left" data-aos-duration="2000">
        <%= image_tag @member.get_icon(300,300), class:"rounded-circle" %>
      </div>
    </div>

    <div class="col-md-6 ml-5 mt-3">
      <h2><%= @member.nickname %></h2>
      <p class="mt-5">過去の取引数: ◯回</p>
      <p class="subscribeCount">
        <%= render 'public/relationships/subscribe_count', member: @member %>
      </p>
      <%# subscribe btn %>
      <div class="subscribeBtn">
        <%= render 'public/relationships/subscribe_btn', member: @member %>
      </div>
      <% if @member != current_member %>
        <%= link_to '通報する', new_member_report_path(@member) %>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-9 mb-5 mx-auto">
      <p>自己紹介</p>
      <%= @member.introduction %>
    </div>
  </div>
  <%= render 'public/members/member_posts', posts: @posts %>
</div>