<% if @member.status == 'active' %>
  <div class="container">
    <div class="row text-center" data-aos="zoom-out-left" data-aos-duration="2000">
      <div class="col-md-6 col-xs-12 text-md-right">
        <%= image_tag @member.get_icon(300,300), class:"rounded-circle file-fluid" %>
      </div>

      <div class="col-md-4 col-xs-12 ml-xs-5 mt-5">
        <h2><%= @member.nickname %></h2>
        <p class="mt-5">取引数: <%= @member.entries.count %> 回</p>
        <p>
          <%= link_to subscribers_member_relationships_path(@member), class:"text-dark" do %>
            登録者：
            <span class="subscribeCount"><b><%= @member.subscribers.count %></b></span>
          <% end %>
        </p>
        <% unless admin_signed_in? %>
          <% if @member != current_member %>
            <div class="subscribeBtn">
              <%= render 'public/relationships/subscribe_btn', member: @member %>
            </div>

            <div class="text-right">
              <%= link_to '通報する', new_member_report_path(@member) %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="row my-2" data-aos="zoom-out-left" data-aos-duration="2000">
      <div class="col-md-9 col-xs-12 mx-auto">
        <p><%= image_tag 'introductionLOGO.svg' %></p>
        <p class="ml-4">
          <% if @member.introduction.present? %>
            <%= safe_join(@member.introduction.split("\n"), tag(:br)) %>
          <% else %>
            自己紹介はまだありません
          <% end %>
        </p>
      </div>
    </div>
    <%= render 'public/members/member_posts', posts: @posts %>
  </div>
<% else %>
  <div class="container">
    <div class="text-center mt-5">
      <h4 class="text-danger my-3">
        ※現在このユーザーは利用を停止しています。
      </h4>
      <%= link_to '戻る', :back %>
    </div>
  </div>
<% end %>