<div class="container">
  <div class="row mx-auto mb-5">
    <div class="col-md-6 offset-3">
      <%= form_with model: @member, url: password_path(resource_name), method: :post do |f| %>
        <%= render "layouts/errors", model: f.object %>
        <div class="text-center">
          <div class="session_logo">
            <%= image_tag 'Tabekiro-uo-logo.svg' %>
          </div>
        </div>

        <div class="card-body">
          <span class="card-text">
            <%= f.label :email, 'メールアドレス' %><br />
            <%= f.email_field :email, placeholder:"PC・携帯どちらでも可", autofocus: true, autocomplete: "email", class:"form-control" %>
          </span>

          <div class="card-text">
            <%= f.submit "パスワード変更メールを送信", class:"btn btn-outline-primary form-control mt-3" %>
          </div>
        </div>
      <% end %>
      <%= render "public/shared/links" %>
    </div>
  </div>
</div>