<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h2>パスワードリセット</h2>

        <%= form_with model: @member, url: password_path(resource_name), method: :post do |f| %>
          <%= render "public/shared/error_messages", resource: resource %>

          <div class="field">
            <%= f.label :email, 'メールアドレス' %><br />
            <%= f.email_field :email, placeholder:"PC・携帯どちらでも可", autofocus: true, autocomplete: "email", class:"form-control" %>
          </div>

          <div class="actions">
            <%= f.submit "パスワード変更メールを送信", class:"btn btn-primary" %>
          </div>
        <% end %>

        <%= render "public/shared/links" %>

    </div>
  </div>
</div>