<div class="container">
  <div class="row mx-auto mb-5">
    <div class="col-md-6 offset-3 mb-5">
      <%= form_with model: @member, url: registration_path(resource_name) do |f| %>
        <%= render "layouts/errors", model: f.object %>
        <div class="text-center">
          <div class="session_logo">
            <%= image_tag 'Tabekiro-uo-logo.svg' %>
          </div>
        </div>

        <div class="card-body">
          <span class="card-text">
            <%= f.label :nickname, 'ユーザネーム' %><br />
            <%= f.text_field :nickname, autofocus: true, class:"form-control" %>
          </span>

          <span class="card-text">
            <%= f.label :email, 'メールアドレス' %><br />
            <%= f.email_field :email, autocomplete: "email", class:"form-control" %>
          </span>

          <span class="card-text">
            <%= f.label :password, 'パスワード' %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %>桁以上の半角英数字)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password", class:"form-control" %>
          </span>

          <span class="card-text">
            <%= f.label :password_confirmation, 'パスワード(確認用)' %><br />
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control" %>
          </span>

          <div class="card-text mt-3">
            <%= f.submit "新規登録", class:"btn btn-outline-info form-control" %>
          </div>
        </div>
      <% end %>
      <%= render "public/shared/links" %>
    </div>
  </div>
</div>