<div class="container">
  <div class="row ml-md-5">
    <div class="col-md-10 col-xs-12">
      <%= image_tag 'quitReasonConfirm.svg', class:"mt-5 offset-md-3" %>
      <div class="row offset-md-4">
        <div class="col-md-8 my-2">
          <p>ユーザーネーム</p>
          <h4><%= @member.nickname %></h4>
        </div>

        <div class="col-md-8 my-2">
          <p>通報ジャンル</p>
          <p class="bg-light py-2 px-3 rounded">
            <%= @report.genre_i18n %>
          </p>
        </div>

        <div class="col-md-8 my-2">
          <p>通報内容</p>
          <p class="bg-light py-2 px-3 rounded">
            <%= @report.reason %>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="mx-auto d-flex my-3">
      <%= form_with model: @report, url: member_reports_path, method: :post do |f| %>
        <%= f.hidden_field :reporter_id %>
        <%= f.hidden_field :reported_id %>
        <%= f.hidden_field :genre %>
        <%= f.hidden_field :reason %>
        <%= f.submit '通報する', class:"btn btn-danger form-control col-xs-12" %>
      <% end %>
      <%= link_to '通報をやめる', members_path, data: { confirm: "入力した内容は破棄されます。本当によろしいですか？" }, class:"btn btn-info form-control col-xs-12 ml-3" %>
    </div>
  </div>
</div>