<div class="container">
  <div class="row">
    <div class="col-md-6 offset-1 mt-5">
      <%= image_tag 'reportFormConfirm.svg', class:"mb-5 offset-2" %>
      <table class="table table-borderless">
        <thead>
          <tr>
            <th class="text-right">ユーザーネーム：</th>
            <td><h5><%= link_to @member.nickname, member_path(@member), class:"text-dark" %></h5></td>
          </tr>

          <tr>
            <th class="text-right">通報ジャンル：</th>
            <td><%= @report.genre_i18n %></td>
          </tr>

          <tr>
            <th class="text-right">通報内容：</th>
            <td><%= @report.reason %></td>
          </tr>
        </thead>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="mx-auto d-flex my-3">
      <%= form_with model: @report, url: member_reports_path, method: :post do |f| %>
        <%= f.hidden_field :reporter_id %>
        <%= f.hidden_field :reported_id %>
        <%= f.hidden_field :genre %>
        <%= f.hidden_field :reason %>
        <%= f.submit '通報する', class:"btn btn-danger rounded-pill px-5" %>
      <% end %>
      <%= link_to '通報をやめる', members_path, data: { confirm: "入力した内容は破棄されます。本当によろしいですか？" }, class:"btn btn-info rounded-pill px-5 ml-3" %>
    </div>
  </div>
</div>