<% notices.each do |notice| %>
  <% visiter = notice.visiter %>
  <% visited = notice.visited %>

  <div class="d-flex">
    <%= link_to member_path(visiter) do %>
      <%= image_tag visiter.icon, size: "30x30", class:"rounded-circle" %>
    <% end %>
    <%= visiter.nickname %>さんが

    <% if notice.action == 'subscribe' %>
      <%= render 'public/notifications/subscribe_notice', notice: notice %>
    <% elsif notice.action == 'favorite' %>
      <%= render 'public/notifications/fav_notice', notice: notice %>
    <% else %>
      <%= render 'public/notifications/comment_notice', notice: notice %>
    <% end %>
  </div>
<% end %>
