<nav class="navbar navbar-expand-xxl navbar-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <%= render 'layouts/nav_modal_list', keyword: @keyword, tags: @tags %>

  <% if member_signed_in? %>
    <div data-aos="zoom-out-left" data-aos-duration="2000">
      <a data-toggle="collapse" href="#headerIcon" role="button" aria-expanded="false" aria-controls="#headerIcon">
        <span class="d-flex">
          <%= image_tag current_member.get_icon(60,60), class:"rounded-circle" %>
          <div class="notice-count-container">
            <% if @unchecked_notices.present? %>
              <div class="notice-count-box">
                <p class="notice-count"><%= @unchecked_notices.count %></p>
              </div>
            <% end %>
          </div>
        </span>
      </a>
    </div>
  <% end %>
</nav>

<div class="collapse navbar-collapse" id="navbarNav">
  <%= render 'layouts/nav_hamburger_list' %>
</div>
<% if member_signed_in? %>
  <%= render 'layouts/nav_icon', notices: @notices, unchecked_notices: @unchecked_notices %>
<% end %>

