<div class="collapse offset-10" id="headerIcon">
  <div class="py-3 border">
    <%= link_to members_path do %>
      <h5 class="pb-3 text-dark ml-4">
        <i class="fas fa-user-circle"></i>
        マイページ
      </h5>
    <% end %>

    <%= link_to root_path do %>
      <h5 class="pb-3 text-dark ml-4">
        <i class="fas fa-bell"></i>
        通知
      </h5>
    <% end %>

    <%= link_to root_path do %>
      <h5 class="pb-3 text-dark ml-4">
        <i class="fas fa-fish"></i>
        取引中のお魚
      </h5>
    <% end %>

    <%= link_to favorite_members_path do %>
      <h5 class="pb-3 text-dark ml-4">
        <i class="fas fa-heart"></i>
        いいねしたお魚
      </h5>
    <% end %>

    <%= link_to root_path do %>
      <h5 class="pb-3 text-dark ml-4">
        <i class="fas fa-user-plus"></i>
        登録者一覧
      </h5>
    <% end %>

    <%= link_to root_path do %>
      <h5 class="pb-3 text-dark ml-4">
        <i class="fas fa-user-tie"></i>
        登録中一覧
      </h5>
    <% end %>

    <%= link_to destroy_member_session_path, method: :delete do %>
      <h5 class="pb-3 text-dark ml-4">
        <i class="fas fa-sign-out-alt"></i>
        ログアウト
      </h5>
    <% end %>
  </div>
</div>