<div class="collapse offset-10" id="headerIcon">
  <div>
  <%= render 'layouts/notice_modal', notices: notices %>
    <%= link_to members_path do %>
      <h5 class="dropdown-item py-2">
        <i class="fas fa-user-circle"></i>
        マイページ
      </h5>
    <% end %>

    <%= link_to deal_members_path do %>
      <h5 class="dropdown-item py-2">
        <i class="fas fa-fish"></i>
        取引中のお魚
      </h5>
    <% end %>

    <%= link_to favorite_members_path do %>
      <h5 class="dropdown-item py-2">
        <i class="fas fa-heart"></i>
        いいねしたお魚
      </h5>
    <% end %>

    <%= link_to subscribers_member_relationships_path(current_member) do %>
      <h5 class="dropdown-item py-2">
        <i class="fas fa-user-plus"></i>
        登録者一覧
      </h5>
    <% end %>

    <%= link_to subscribings_member_relationships_path(current_member) do %>
      <h5 class="dropdown-item py-2">
        <i class="fas fa-user-tie"></i>
        登録中一覧
      </h5>
    <% end %>

    <%= link_to destroy_member_session_path, method: :delete do %>
      <h5 class="dropdown-item py-2">
        <i class="fas fa-sign-out-alt"></i>
        ログアウト
      </h5>
    <% end %>
  </div>
</div>