<div data-toggle="modal" data-target="#noticeModal">
  <% if unchecked_notices.present? %>
    <h5 class="dropdown-item py-2">
      <%= link_to notice_notifications_path, method: :patch, remote: true do %>
        <span class="text-danger">
          <i class="fas fa-bell text-danger"></i>
          <span id="noticeRedLOGO">
            <%= image_tag 'topNoticeRedLOGO.svg', class:"mb-1" %>
          </span>
        </span>
      <% end %>
    </h5>
  <% else %>
    <h5 class="dropdown-item py-2">
      <span class="text-dark">
        <i class="fas fa-bell mr-2"></i>
        <%= image_tag 'topNoticeLOGO.svg', class:"mb-1" %>
      </span>
    </h5>
  <% end %>
</div>

<div class="modal fade" id="noticeModal" tabindex="-1"
  role="dialog" aria-labelledby="noticeLabel" ariahidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-title ml-3" id="noticeLabel">
          <%= image_tag 'topNoticeLOGO.svg' %>
        </div>

        <% if notices.exists? %>
          <%= link_to destroy_all_notifications_path, method: :delete, class:"text-dark" do %>
            <p class="mx-1">ALL<i class="fas fa-trash"></i></p>
          <% end %>
        <% end %>
      </div>

      <div class="modal-body" id="notice">
        <% notices = notices.where.not(visiter_id: current_member.id) %>

        <% if notices.exists? %>
          <%= render 'layouts/notice_modal_contents', unchecked_notices: unchecked_notices, notices: notices %>
        <% else %>
          <p id="nonNotice">通知はありません</p>
        <% end %>
      </div>
    </div>
  </div>
</div>

