<!DOCTYPE html>
<html>
  <head>
    <title>TabekiroUo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="https://kit.fontawesome.com/0e15a7e9ae.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="backgroundImage">
      <%= render 'layouts/header' %>
      <%= flash[:notice] %>
      <%= yield %>
      <%= render 'layouts/footer' %>
    </div>
  </body>
  <script>
    AOS.init();
  </script>
</html>
